@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body,
button,
a {
  font-family: "Poppins", sans-serif;
}

.test-bg {
  background-color: lightgray;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.bold {
  font-weight: bold;
}

/* #CE0506

Red CE
Green 05
Blue 06

HexDecimal => 0 1 2 3 4 5 6 7 8 9 A B C D E F
0 => Black
F => White

#000000 => black
#ffffff => white
#ff0000 => red
#00ff00 => green
#0000ff => blue
#888888 => gray

#880000 => dark */
/* #330000 => */

.header-section {
  background-color: #ce0506;
  /*padding: 20px;  top right bottom left  */
  padding: 20px 80px; /* top-bottom left-right */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.brand {
  background-color: white;
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  font-size: 24px;
  font-weight: bold;
  color: #ce0506;
}

.menu-item > button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 22px;
}

.menu-item > .create-account {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 10px 30px;
  border-radius: 5px;
}

.restaurants-search {
  padding: 30px 100px;
  background-color: #fbfbfb;
}

.restaurants-search-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #192f60;
}

.filter {
  width: 25%;
  padding: 20px;

  background-color: white;

  box-shadow: 0px 0 10px -5px gray;
  /* x-axis y-axis blur scale color */
}

.restaurants-list {
  width: 65%;
}

.search-area {
  display: flex;
  gap: 100px;
}

.input-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}

.input-control > select {
  padding: 5px 10px;
  font-size: 18px;
  color: gray;
}

.filter-title {
  font-size: 20px;
  font-weight: bold;
}

.check-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.check-box > input {
  width: 20px;
  height: 20px;
  background-color: #3a5075;
}

.check-box > label {
  font-size: 18px;
  color: #8c96ab;
}
